video {
    height: auto;
}

div.jp-audio, div.jp-video {
    font-size: 1em;
    font-family: Verdana, Arial, sans-serif;
    color: #fff;
    line-height: 1.6;
    width: 100%;
}

div.jp-interface {
    position: relative;
    width: 100%;
    background: #313337;
    background: url('../img/player-skin.png') 0 -210px;
    height: 30px;
}

div.jp-interface ul.jp-controls {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.jp-interface ul.jp-controls li {
    display: inline;
}

div.jp-interface ul.jp-controls a {
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
    border-bottom: none;
}

a.jp-play,
a.jp-pause {
    width: 33px;
    height: 30px;
    z-index: 1;
    outline: none;
    top: 0;
    left: 0;
    border-right: 1px solid rgb(36, 37, 38);
}

a.jp-play, .ie8 a.jp-play {
    background: url("../img/player-skin.png") 0 0 no-repeat;
}

a.jp-play:hover, .ie8 a.jp-play:hover {
/*    background: url("../img/player-skin.png") -33px 0 no-repeat;*/
}


a.jp-pause, .ie8 a.jp-pause {
    background: url("../img/player-skin.png") 0 -30px no-repeat;
    display: none;
}

a.jp-pause:hover, .ie8 a.jp-pause:hover {
/*    background: url("../img/player-skin.png") -33px -30px no-repeat;*/
}


div.jp-progress,
div.jp-progress {
    position: absolute;
    overflow: hidden;
    top: 11px;
    left: 46px;
    right: 94px;
    height: 7px;
    padding: 1px;
    background: url("../img/player-skin.png") 0 -192px repeat-x;
}

.jp-interface.no-volume div.jp-volume-bar-container,
.jp-interface.no-volume a.jp-mute,
.jp-interface.no-volume a.jp-unmute {
    display: none;
    visibility: collapse;
}

div.jp-interface.no-volume div.jp-progress {
    right: 13px;
}

div.jp-seek-bar {
    width: 0px;
    height: 5px;
    cursor: pointer;
    background: url("../img/player-skin.png") 0 -163px repeat-x;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

div.jp-play-bar {
    width: 0px;
    height: 5px;
    background: url("../img/player-skin.png") 0 -133px repeat-x;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

div.jp-volume-bar-container {
    position: absolute;
    width: 69px;
    margin-right: 12px;
    border-left: 1px solid #242526;
    right: 0;
    height: 30px;
}

div.jp-volume-bar {
    float: right;
    background: url("../img/player-skin.png") 0 -192px repeat-x;
    width: 40px;
    margin-top: 12px;
    cursor: pointer;
    height: 10px;
}

div.jp-audio div.jp-type-single div.jp-volume-bar,
div.jp-video div.jp-type-single div.jp-volume-bar {
    top: 0;
}

div.jp-volume-bar-value {
    width: 0px;
    height: 5px;
    margin: 1px;
    background: url("../img/player-skin.png") 0 -133px repeat-x;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

a.jp-mute, a.jp-unmute {
    width: 17px;
    height: 13px;
    z-index: 1;
    outline: none;
    top: 9px;
    right: 56px;
}

a.jp-mute {
    background: url("../img/player-skin.png") -10px -68px no-repeat;
}

a.jp-mute:hover {
/*    background: url("../img/player-skin.png") -43px -68px no-repeat;*/
}

a.jp-unmute {
    background: url("../img/player-skin.png") -10px -98px no-repeat;
    display: none;
}

a.jp-unmute:hover {
/*    background: url("../img/player-skin.png") -43px -98px no-repeat;*/
}

div.jp-jplayer {
    width: 0px;
    height: 0px;
    background-color: #000000;
}

.video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 74px;
    background: transparent url('../img/video-overlay.png') no-repeat center center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    a.jp-pause:hover {
        background: transparent url('../img/pause-large.png') no-repeat center center;
        background-size: 9px 10px;
    }
    a.jp-pause {
        background: transparent url('../img/pause-large.png') no-repeat center center;
        background-size: 9px 10px;
    }
    a.jp-play:hover {
        background: transparent url('../img/play-large.png') no-repeat center center;
        background-size: 9px 10px;
    }
    a.jp-play {
        background: transparent url('../img/play-large.png') no-repeat center center;
        background-size: 9px 10px;
    }
}